<?php

/* 
 * To change this license header, choose License Headers in Project Properties.
 * To change this template file, choose Tools | Templates
 * and open the template in the editor.
 */

$sgbd_type = "mysql";
$sgbd_server = "";
$sgbd_port = "0";
$sgbd_name = "";
$sgbd_user = "";
$sgbd_pass = "";
$sgbd_prefix = "";

