<section class="container text-center">
  <h1>Messages</h1>
  #select_msg#
  <form id="form_find" class="form-inline justify-content-center m-2">
      <div class="form-group mx-sm-3 mb-2">
        <label for="recherche" class="sr-only">Rechercher</label>
        <input type="text" class="form-control" id="recherche" name="recherche">
      </div>
      <button id="bt_find" type="submit" id="find" class="btn btn-primary bg-simpson mb-2">Rechercher</button>
  </form>
</section>
<section class="container text-center">
  <div id="msg">
    <ul class="list-group list-mgs">
      #list_msg#
    </ul>
    <div class="txt-msg">
      <div id="info" class="text-left">
          <img id="img_del_msg" src="src/img/icons8-supprimer-pour-toujours-90.svg" />
          <label class="type">de : </label><label id="msg_from"></label>
          <label class="type">le : </label><label id="msg_date"></label>
          <label class="type">objet : </label><label id="msg_obj"></label>
        </figure>
      </div>
      <div id="msg_txt">
      </div>
    </div>
  </div>

  <script src="./../src/js/le_fetch.js"></script>
  <script src="./src/js/message.js"></script>
</section>