  <!--Formulaire pour Users-->


  <div  class="container mt-4">   <!--Début_container-->
    <h1 class="text-center mb-5">Utilisateurs</h1>
            <div class="row">
              <div class="col-md-4 mb-5 InfoUse">
                Informations utilisateur :
              </div>
            </div> 
    
            <form>
                <div class="form-row "> <!--Début_row_1-->
    
                
                      <div class="col-md-4 mb-3">
    
                          <label for="prenom">
                             Prénom
                          </label>

                          <input 
                          class="form-control"
                          type="text"  
                          id="prenom" 
                          placeholder="prénom" 
                          value="" 
                          required  
                          >
                      </div>
    
                      <div class="col-md-4 mb-3">
    
                            <label for="nom">
                            Nom
                            </label>

                         <input 
                          class="form-control" 
                          type="text"
                          id="nom" 
                          placeholder="nom" 
                          value="" 
                          required
                          >   
    
                      </div>
                      
                    <div class="col-md-4 mb-5">
    
                      <label for="email">
                       Identifiant
                      </label>

                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend3">@</span>
                          </div>

                          <input 
                          class="form-control"
                          type="email" 
                          id="email" 
                          placeholder="homer@gmail.fr" 
                          aria-describedby="inputGroupPrepend3"
                          pattern="[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}
                                   [a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)"
                          required
                          >           
                        </div>
                        
                      </div>
                   </div><!--Fin_row_1-->            
    
                      <div class="row"><!--Début_row_2-->
                        <div class="col-md-4 mb-5 InfoUse">
                          Modifier le mot de passe :
                        </div> 
                     </div>   <!--Fin_row_2-->  
    
    
                <div class="row"> <!--Début_row_3-->
                      <div class="col-md-5 mb-3">   
                        <div class="form-group">
    
                        <label for="password">
                            Mot de passe
                        </label>
                          <input 
                          class="form-control" 
                          type="password"  
                          id="password" 
                          placeholder="Mot de passe"
                          pattern="{6,}"
                          required
                          >
                          
                        </div>
                      </div>
    
                      <div class="col-md-5 mb-5">
                        <div class="form-group">
    
                         <label for="password">
                           Répéter le Mot de passe
                         </label>
                          <input 
                          class="form-control"
                          type="password"             
                          id="password" 
                          placeholder="Mot de passe..."
                          pattern="{6,}"
                          required
                          >
                        </div>
                      </div>
    
                </div> <!--Fin_row_3-->
                  
    
                    
                  
                <div class="row"> <!--Début_row_4-->
                 <div class="col mb-3 text-center text-left-md">  

                   <button 
                          class="btn btn-primary " type="submit">  
                          Valider
                  </button>

                 </div>
                  </div> <!--Fin_row_4-->
            </form>
    
    
    
    <div> <!--Fin_Container-->