@font-face {
    font-family: 'simpsonfont';
    src: url('./../font/Simpson/Simpsonfont.woff') format('woff'),
        url('./../font/Simpson/Simpsonfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "simpsonfont";
    background: url("./../img/background-sky.webp") repeat;
    background-size: cover;
    min-width: 320px;
}

h3{
    font-size: 1.5em;
    margin: auto;
    display: block;
    position: relative;
    grid-area: title;
    padding: 15px 20px;
    z-index: 2;
    max-width: 320px;
    box-sizing: border-box;
    overflow: hidden;
}

h3:after{
    content: "";
    background-color: black;
    width: 50px;
    height: 2px;
    position: absolute;
    left: -50px;
    bottom: 15px;
}

h3:before{
    content: "";
    background-color: black;
    width: 50px;
    height: 2px;
    position: absolute;
    right: -50px;
    bottom: 15px;
}

#connexion {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    overflow: none;
}

/** textes pour la connexion **/
#connexion label, #connexion .input, #connexion .input:hover, 
#connexion .input:focus, #connexion .input:default {
    font-family: "poppins-regular";
    font-weight: bold;
    text-align: center;
    outline: none;
    border: none;
    font-size: 25px;
    padding: 5px;
    width: 310px;
}

/** textes pour la connexion **/
#connexion .input, #connexion .input:hover, 
#connexion .input:focus, #connexion .input:default {
    background-color: white;
    border: black 1px solid;
}

#connexion .input input, #connexion .input:hover input, #connexion .input:focus input, 
#connexion .input:default input, #connexion .input input:hover, #connexion .input input:focus, 
#connexion .input input:default {
    font-family: "poppins-regular";
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    outline: none;
    border: none;
    width: 254px;
}

#connexion .input, #connexion .input:hover, #connexion .input:focus {
    border-radius: 30px;
}

#connexion .input:hover {
    transform: scale(1.03);
}

#connexion .input:focus, #connexion .input input:focus {
    color: #D1B271;
}

#connexion label {
    padding: 10px;
}

#connexion .input, #connexion .input:hover, #connexion .input:focus {
    outline: none;
}

#connexion a {
    text-decoration: none;
    padding: 10px;
    color: black;
}

/** button **/
.button {
    font-family: "simpsonfont";
    font-size: 25px;
    padding: 5px 20px;
    margin: 15px 5px;
    border-radius: 20px;
    font-weight: bold;
}

.button_jaune {
    background-color: #FED90F;
}

.button_gris {
    background-color: #424F46;
    color: white;
}

.pass-fig {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  cursor: pointer;
}

.pass-fig img {
  width: 25px;
  margin-left: 14px;
  margin-right: 5px;
}

#modal-form {
    font-family: "poppins-regular";
}