.bb_title {
    color: #FFF500;
    width: 100%;
    text-align: center;
    font-size: 25px;
    transition: 1s;
    margin-bottom: 10px;




    text-shadow: rgb(0, 0, 0) 2px 0px 0px,
        rgb(0, 0, 0) 1.75517px 0.958851px 0px,
        rgb(0, 0, 0) 1.0806px 1.68294px 0px,
        rgb(0, 0, 0) 0.141474px 1.99499px 0px,
        rgb(0, 0, 0) -0.832294px 1.81859px 0px,
        rgb(0, 0, 0) -1.60229px 1.19694px 0px,
        rgb(0, 0, 0) -1.97999px 0.28224px 0px,
        rgb(0, 0, 0) -1.87291px -0.701566px 0px,
        rgb(0, 0, 0) -1.30729px -1.51361px 0px,
        rgb(0, 0, 0) -0.421592px -1.95506px 0px,
        rgb(0, 0, 0) 0.567324px -1.91785px 0px,
        rgb(0, 0, 0) 1.41734px -1.41108px 0px,
        rgb(0, 0, 0) 1.92034px -0.558831px 0px;

}
.recadre{
border-radius: 10px;
width: 100%;
height: 100%;
object-fit: contain;
max-width: 100%;
}
strong {
    color: #000000;
    width: 100%;
    text-align: center;
    font-size: 20px;
    transition: 1s;
}

/*A text shadow black*/
/*B box shadow white? */


.h3Textcenter {
    text-align: center;
    margin: 10px 50px 10px 50px;
    height: 30px;
    transition: 1s;
    font-size: 20px;
}


.Ligne {
    width: 25%;
    border: solid 1px rgba(0, 0, 0, 0.795);
    height: 1px;
    margin: 20px 0px 20px 0px;
    border-radius: 5%;
}

.transit {
    width: 100%;
    display: flex;
    justify-content: center;
    /*border: solid 1px black*/

}


.contenairTitre {
    width: 100%;
    display: flex;
    justify-content: center;
    /*border: solid 1px black*/

}






.contenairLieux {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    /* border: solid 1px black;*/

}


figure {


    display: flex;
    margin: 50px 0px 50px 0px;
    height: 300px;
    width: 80%;
    background: rgb(253,242,140,0);
    border: color 1px white;
    justify-content: space-around;
    border-radius: 15px;
    transition: 1s;
}




figure:hover {


    display: flex;
    margin: 50px 0px 50px 0px;
    height: 350px;
    width: 90%;
    background: rgb(253,242,140,0);
    border: color 1px white;
    justify-content: space-around;
    border-radius: 15px;
    transition: 1s;
}





.contenairNomImage {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*border: solid 1px black;*/

}


.contenairHBC {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 30px 30px 30px;
    /*border-top: solid 2px black;
    border-bottom: solid 2px black;*/
}


.contenairTxtHBC {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
    width: 100%;


}


p {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    justify-content: center;
}



.contenairBtn {

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 10px 10px 10px;
    /*border: solid 1px black;*/
}



.styled {
    margin: 40px 0px 40px 0px;
    border: 0;
    line-height: 2.5;
    height: 60px;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #FFF500;
    text-shadow: 1px 1px 1px #000;
    border-radius: 20px;
    background-color: #424F46;
    background-image: linear-gradient(to top left,
            rgba(0, 0, 0, .2),
            rgba(0, 0, 0, .2) 30%,
            rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
        inset -2px -2px 3px rgba(0, 0, 0, .6);
    transition: 0.7s;
    cursor: pointer;
}

.styled:hover {
    background-color: #FFF500;
    color: #FFFF;
    transition: 0.5s;
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
        inset 2px 2px 3px rgba(0, 0, 0, .6);
}






/* Ordinateur */

@media (max-width: 1600px) {
    .bb_title {
        color: #FFF500;
        width: 100%;
        text-align: center;
        font-size: 25px;
        transition: 1.5s;
    }

    strong {
        color: #000000;
        width: 100%;
        text-align: center;
        font-size: 25px;
        transition: 1.5s;
    }
}

@media (max-width: 1200px) {}






/* Tablette */

@media (max-width: 768px) {

    .contenairHBC {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 1px 1px 1px 1px;

    }



    .bb_title {
        color: #FFF500;
        width: 100%;
        text-align: center;
        font-size: 25px;



    }

    strong {
        color: #000000;
        width: 100%;
        text-align: center;
        font-size: 20px;

    }


}

@media (max-width: 1024px) {}

/* Mobile */

@media (max-width: 500px) {

    p {
        display: flex;
        width: 100%;
        justify-content: center;
    }





    .bb_title {
        color: #FFF500;
        width: 100%;
        text-align: center;
        font-size: 12px;


    }

    strong {
        color: #000000;
        width: 100%;
        text-align: center;
        font-size: 15px;

    }

}