
@font-face /* POLICE */ {
    font-family: "Simpsonfont";
    font-style: normal;
    font-weight: normal;
    src: local("Simpsonfont"),
        url("src/font/Simpsonfont") format("ttf");
}

*{
    font-family: "Simpsonfont", Helvetica, sans-serif;
}

/* HEADER */

header{

    display: flex;
    justify-content: space-between;
    background-color: #8BC7E5;
    align-items: center;
}

.hommerheader{
    width: 90px;
    align-self: end;
}

.donnut{
    min-width: 40px;
    margin-right: 3%;
}

h1{
    margin: 20px 0;
    text-align: center;
    color: #FFF500;
    -webkit-text-stroke: 0.7px black;
    font-size: 20px;
    font-weight: 500;
}

/* SECTION */

section{
    background: url("../img/background-sky.webp");
    background-size: cover;
    height: 200px;
}

/* FOOTER */

footer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #424F46;
    color: #FFF500;
    -webkit-text-stroke: 1px black;
    font-size: 1.5em;
    padding: 0 30px 30px 30px;
    text-align: center;
    border: solid 1px black;
}

footer a{
    font-family: 'Comic Neue', cursive;
    color: #FFF500;
    font-size: 0.6em;
    letter-spacing: 1px;
    font-weight: 0;
    font-style: normal;
}

footer ul, footer div{
    margin-top: 40px;
}

.duffbeer{
    width: 100%;
}

.duffbeer img{
    width: 25px;
    margin: auto;
}