h3{
    font-size: 1.5em;
    margin: auto;
    display: block;
    position: relative;
    grid-area: title;
    padding: 0 20px;
    z-index: 2;
}

h3:after{
    content: "";
    background-color: black;
    width: 50px;
    height: 2px;
    position: absolute;
    left: -50px;
    bottom: 15px;
}

h3:before{
    content: "";
    background-color: black;
    width: 50px;
    height: 2px;
    position: absolute;
    right: -50px;
    bottom: 15px;
}

figure{
    width: 100%;
    text-align: center;
    position: relative;
}

figure:first-of-type{
    grid-area: fig1;
}

figure:nth-of-type2{
    grid-area: fig2;
}

figure:nth-of-type3{
    grid-area: fig3;
}

figure:nth-of-type4{
    grid-area: fig4;
}

figure:nth-of-type5{
    grid-area: fig5;
}

figure:nth-of-type6{
    grid-area: fig6;
}

figure:nth-of-type7{
    grid-area: fig7;
}

figure:last-of-type{
    grid-area: fig8;
}

section{
    display: grid;
    grid-template-areas: "title"
    "fig1"
    "fig2"
    "fig3"
    "fig4"
    "fig5"
    "fig6"
    "fig7"
    "fig8";
    height: unset;
    grid-gap: 20px;
}

figcaption{
    margin: auto;
    color: #FFF500;
    font-weight: 500;
    text-shadow: black 2px 2px 2px;
    -webkit-text-stroke: 0.7px black;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -75px;
    font-size: 1.3em;
}



