h3 {
    font-size: 1.5em;
    margin: auto;
    display: block;
    position: relative;
    grid-area: title;
    padding: 0 20px;
    z-index: 2;
    width: fit-content;
}

h3:after {
    content: "";
    background-color: black;
    width: 75px;
    height: 2px;
    position: absolute;
    right: -65px;
    bottom: 15px;
    z-index: 5;
}

h3:before {
    content: "";
    background-color: black;
    width: 75px;
    height: 2px;
    position: absolute;
    left: -65px;
    bottom: 15px;
    z-index: 5;
}

section {
    position: relative;
    padding-bottom: 0;
    height: unset;
}

.catContain {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.catContain div {
    width: 100%;
    height: 250px;
    background: url("../img/background-sky.webp");
    margin: 20px 0;
    border: solid black 2px;
}

figure:first-of-type {
    grid-area: fig1;
}

figure:nth-of-type(2) {
    grid-area: fig2;
}

figure:nth-of-type(3) {
    grid-area: fig3;
}

figure:nth-of-type(4) {
    grid-area: fig4;
}

figure:nth-of-type(5) {
    grid-area: fig5;
}

figure:nth-of-type(6) {
    grid-area: fig6;
}

figure:nth-of-type(7) {
    grid-area: fig7;
}

figure:nth-of-type(8) {
    grid-area: fig8;
}

figure:nth-of-type(9) {
    grid-area: fig9;
}

figure:nth-of-type(10) {
    grid-area: fig10;
}

figcaption {
    margin: auto;
    color: #fff500;
    font-weight: 500;
    text-shadow: black 2px 2px 2px;
    -webkit-text-stroke: 0.7px black;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -77px;
    font-size: 1.3em;
    width: 150px;
    font-size: 1em;
}

figure {
    width: 100%;
    text-align: center;
    position: relative;
    border: solid black 2px;
    transition: 0.2s;
}

figure:hover{
    transform: scale(1.02);
    border: solid gold 2px;
}

figure:hover figcaption{
    color: black;    text-shadow: gold 1px 1px 1px;
    -webkit-text-stroke: 0.1px gold;
}

.grid {
    display: grid;
    grid-template-rows: auto 150px 150px 150px 150px 150px 150px 150px 150px 150px 150px;
    grid-template-areas:
    "title"
    "fig1"
    "fig2"
    "fig3"
    "fig4"
    "fig5"
    "fig6"
    "fig7"
    "fig8"
    "fig9"
    "fig10";
    grid-gap: 30px;
}

/* FLECHE */

.btn {
    text-decoration: none;
    font-size: 1.4rem;
    color: black;
    display: flex;
    align-items: center;
    height: 100px;
    margin-top: 50px;
}

.btn .arrow {
    height: 0.1em;
    width: 1.5em;
    position: relative;
    background: black;
    transition: all 0.2s;
}

.btn .arrow::before,
.btn .arrow::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    background: black;
    height: 0.1em;
    width: 0.6em;
}

.btn .arrow::before {
    transform: rotate(45deg);
    transform-origin: right bottom;
}

.btn .arrow::after {
    transform: rotate(-45deg);
    transform-origin: right top;
}

.btn:hover .arrow {
    width: 100%;
}

.btn:hover .pages {
    display: block;
}

.pages {
    position: absolute;
    display: none;
    color: black;
    bottom: 10px;
    text-shadow: black 2px 2px;
}

.pages:visited {
    color: white;
}

.pages:first-of-type {
    left: 40%;
}

.pages:nth-of-type(2) {
    left: 45%;
}

.pages:nth-of-type(3) {
    left: 50%;
}

.pages:nth-of-type(4) {
    left: 55%;
}

.pages:last-of-type {
    left: 60%;
}    

.contain {
    object-fit: contain;
}

.cover {
    object-fit: cover;
}

@media all and (min-width: 768px) {
    .grid {
        grid-template-rows: auto 200px 200px 200px 200px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "title title title title title"
        "fig1 fig2 fig2 fig4 fig4"
        "fig1 fig3 fig3 fig3 fig5"
        "fig8 fig7 fig7 fig7 fig7"
        "fig8 fig6 fig9 fig10 fig10"
        "fig8 fig6 fig9 fig10 fig10";
        grid-gap: 20px;
    }

    figure {
        
    }



    section {
        padding: 50px;
    }

    figcaption {
        font-size: 1em;
        width: 100px;
        margin-left: -50px;
    }
}


@media all and (min-width: 1260px) {

    .grid {
        grid-template-rows: auto 200px 200px 200px 200px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "title title title title title"
        "fig1 fig2 fig2 fig2 fig5"
        "fig1 fig3 fig4 fig4 fig5"
        "fig8 fig3 fig7 fig7 fig7"
        "fig8 fig6 fig9 fig10 fig10";
        grid-gap: 30px;
    }
    

    section{
        padding: 100px 120px;
    }

    figcaption{
        font-size: 1.2em;
        width:200px;
        margin-left: -100px;
    }



}
