/nbproject/private/
/.vscode
/.env
/projecttmp/
/.dockertmp/
/www/config/config_sgbd.php
/www/config/filedotenv.php
/www/config/.env
/www/data
/www/errors.log
/www/.htaccess
/www/data
/www/config/config.php
/www/config/sgbd_config.php
/www/src/config/config.php
/www/src/config/sgbd_config.php
/www/src/config/filedotenv.php
/www/src/config/.env
/cron/config_path.php
/error/config_path.php
/install/config_path.php
