/nbproject/private/
/projecttmp/
/project/www/.htaccess
/project/www/data
/project/www/config/config.php
/project/www/config/sgbd_config.php
/project/www/src/config/config.php
/project/www/src/config/sgbd_config.php
/project/cron/config_path.php
/project/error/config_path.php
/project/install/config_path.php
