html,
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    background-color: rgb(201, 201, 201);
  
  
}










/*nav
{
    width: 25%;
    text-align: center;
    border: solid 1px black;  
}

nav ul
{
   list-style: none;
}



*/
/*--------- Responsive---------- */


/*---------- Mobile------------- */
@media (max-width: 656px) {
    #h1 {
        font-size: 15px;
    }

}
/*---------- Tablette----------- */
@media (max-width: 1024px) {
    html,
    body {
        font-size: 14px;
    }
    
}
/*---------- Ordinateur ----------*/




/*--------------Font--------------*/

@font-face {
    font-family: "Simpsonfont.ttf";
    src: url(".../font/Simpson/Simpsonfont.ttf") format("ttf");
}   
