[mysqld]
skip-host-cache
skip-name-resolve
datadir = /var/lib/mysql
tmpdir = /var/tmp/mysql
general_log_file = /var/log/mysql/mysql.log
log-error = /var/log/mysql/mysql-error.log
log-bin = /var/log/mysql/mysql-bin.log
!includedir /etc/mysql/conf.d/
