/* mise en page du bbcode */
.bbcode {
    display: grid;
    grid-template-columns: auto auto auto 1fr;
}

/* editeur du bbcode */
.editor_bbcode {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

/* editeur html du bbcode */
.editor_html_bbcode {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  border: black 1px solid;
  box-sizing: border-box;
  display: inline;
  resize: both;
  overflow: auto;
  height: 35px;
}

/* le type d'editeur du bbcode en hidden */
.editor_type_bbcode {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
}

/* le titre bbcode en html par defaut */
.bb_title {
  color: blue;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}