<section>
    <h2>A part springfield.</h2>
    <p>Access Code School (ACS), accessible sans condition de diplôme, se donne pour objectif de proposer à tous quel que soit leur parcours scolaire, l’accès le plus direct au milieu professionnel de l’informatique et du numérique.
    Basée sur une approche pédagogique innovante, Access Code School prépare ses stagiaires aux enjeux réels qui les attendent et aux nouveaux métiers d’un secteur en évolution permanente. Il faut à tout le moins les former à devenir des apprenants autonomes dans une optique d’apprentissage tout au long de la vie (formation continue, évolution des compétences en milieu professionnel).</p>
</section>