<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./../css/style-connexion.css" />
        <link rel="stylesheet" href="./../css/modifier_mdp.css" />
        <title>Springfiled : mot de passe perdu</title>
    </head>
    <body>
        <h3>Mot de passe perdu</h3>
        <section id="connexion">
            <label>Email</label>
            <input type="text" name="email" id="email" />
            <figure>
                <button type="sumit" id="valider" class="button button_jaune">Valider</button>
                <button type="sumit" id="annuler" class="button button_gris">Annuler</button>
            </figure>
        </section>
        <script src="./../js/le_fetch.js"></script>
        <script src="./../js/mdp_perdu.js"></script>
    </body>
</html>