<section>  

 <h2>Mentions légales</h2>

<p>Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l’économie numérique, il est précisé aux utilisateurs du site pierre-giraud.com l’identité des différents intervenants dans le cadre de sa réalisation et de son suivi.</p>
<h2>Edition du site</h2>

<p>Le site Springfield .com est édité par K Media Tech, inscrit en tant qu’auto-entrepreneur au RCS de Toulon sous le numéro de Siret 5127874200035.</p>
<h2>Responsable de publication</h2>

<p>K Media Tech</p>
<h2>Hébergeur</h2>

<p>Le site Springfield.com est hébergé par la société K Media Tech – https://www.wpxhosting.com/</p>

<p>Le stockage des données personnelles des Utilisateurs est exclusivement réalisé sur les centre de données (“clusters”) localisés dans des Etats membres de l’Union Européenne de la société K Media Tech.</p>
<h2>Nous contacter</h2>

<p>Par email : OfficeSpringfield@gmail.com</p>

<h2>CNIL</h2>

<p>Le représentant de ce site s’engage à conserver dans ses systèmes informatiques et dans des conditions raisonnables de sécurité une preuve de la transaction comprenant le bon de commande et la facture.</p>

<p>Conformément aux dispositions de la loi 78-17 du 6 janvier 1978 modifiée, l’Utilisateur dispose d’un droit d’accès, de modification et de suppression des informations collectées par pierre-giraud.com. Pour exercer ce droit, il reviendra à l’Utilisateur d’envoyer un message à l’adresse suivante : OfficeSpringfield@gmail.com</p>



    
</section>