<section>

    <h2>Politique</h2>


    <p>Politique de confidentialité:</p>

    <p> Du respect de la vie privée de ses Utilisateurs, OfficeSpringfield - SAS - (ci-après les « Dirigeants »)
        s’engage à assurer la protection des données personnelles de ses Utilisateurs.

        Par conséquent, aucune donnée transmise par l’intermédiaire de notre site ne pourra être consultée par un tiers
        non autorisé. Le Dirigeant prend toutes les précautions utiles pour préserver la sécurité de ces données et
        notamment, empêcher qu’elles soient déformées ou endommagées.

        Le Dirigeant traite l’ensemble des données de ses Utilisateurs conformément à la présente politique de
        confidentialité.</p>

    <h2>I. Définitions</h2>
    <p>
        – <strong>donnée personnelle</strong> : toute information relative à une personne physique identifiée ou qui peut être
        identifiée, directement ou indirectement, par référence à un numéro d’identification ou à un ou plusieurs
        éléments qui lui sont propres.</p>

    <p>– <strong>Utilisateur</strong> : toute personne physique majeure capable, ou toute personne morale, utilisant les services qui
        sont proposés sur le Site Springfield.com, pouvant être soit un particulier, soit un professionnel.</p>

    <h2>II. Collecte et diffusion des données personnelles</h2>

    <p>Le Dirigeant est susceptible de collecter des données personnelles liées à l’Utilisateur notamment lors :

    <p>– de la navigation sur le Site</p>

    <p>– de la création d’un compte</p>

    <p>– de l’inscription à un service</p>

    <p>– de la rédaction d’un commentaire</p>
    <p>– d’une demande de renseignement ou de prise de contact</p>



    <p>Les informations susceptibles d’être collectées par le Dirigeant sont celles ayant trait à l’identité de
        l’Utilisateur, à ses coordonnées postales et/ou électroniques, à un numéro de carte bancaire ou encore à des
        données de connexion.

    <p>Toutes les données à caractère personnel recueillies par le Dirigeant sont obligatoires et nécessaires pour
        bénéficier des Services proposés par le Dirigeant. Chaque donnée collectée par la Société est en accord avec la
        ou les finalités poursuivies.

        L’ensemble des données personnelles ainsi recueillies par le Dirigeant peuvent être transmises à des
        prestataires extérieurs afin d’assurer le bon fonctionnement des Services, notamment le traitement effectif du
        paiement. Lors d’un paiement en ligne, toutes les données personnelles transmises sont protégées.</p>

    <h2>III. Conservation des données personnelles</h2>

    <p>Les données personnelles de l’Utilisateur sont conservées jusqu’à leur suppression à la demande de l’Utilisateur
        ou par la Société.

        Le Dirigeant conservera dans ses systèmes informatiques et dans des conditions raisonnables de sécurité une
        preuve de la transaction comprenant le bon de commande et la facture conformément aux dispositions du Code de
        commerce relatives à la durée de conservation des livres et documents créés à l’occasion d’activités
        commerciales et du Code de la consommation relatives à la conservation des contrats conclus par voie
        électronique, en l’occurrence dix ans.

    <h2>IV. Hébergement des données personnelles</h2>

    <p>Le site Springfield.com est hébergé par la société SiteGround.



        Le stockage des données personnelles des Utilisateurs est exclusivement réalisé sur les centres de données («
        clusters ») localisés dans des Etats membres de l’Union Européenne de la société SiteGround.</p>

    <h2>V. Droit d’accès et de suppression des données personnelles par l’Utilisateur</h2>

    <p>Conformément aux dispositions de la loi 78-17 du 6 janvier 1978 modifiée, l’Utilisateur dispose d’un droit
        d’accès aux informations collectées par le Dirigeant :</p>

    <p>– l’Utilisateur peut demander à tout moment la modification de ses données</p>

    <p>– l’Utilisateur peut demander à tout moment la rectification de données erronées</p>

    <p>– l’Utilisateur peut demander à tout moment la suppression de données existantes</p>

    <p>Pour exercer ce droit, il reviendra à l’Utilisateur d’envoyer un message à l’adresse suivante :
        OfficeSpringfield@gmail.com</p>

    <h2>VI. Utilisation de cookies</h2>

    <p>Le Dirigeant informe l’Utilisateur qu’elle peut être amenée à utiliser des cookies. Ce dernier accepte
        expressément l’utilisation des cookies en poursuivant sa navigation sur le site.

        Un cookie est un fichier texte susceptible d’être enregistré dans un terminal lors de la consultation d’un
        service en ligne avec un logiciel de navigation. Un fichier cookie permet à son émetteur, pendant sa durée de
        validité, de reconnaître le terminal concerné à chaque fois que ce terminal accède à un contenu numérique
        comportant des cookies du même émetteur.

        Les cookies émis par le Dirigeant nous permettent :</p>

    <p>d’établir des statistiques et volumes de fréquentation et d’utilisation des diverses éléments composant notre
        Site, nous permettant d’améliorer la configuration, l’intérêt, le design et l’ergonomie de nos services
        d’adapter la présentation de notre Site aux préférences d’affichage de votre terminal (langue utilisée,
        résolution d’affichage, système d’exploitation utilisé, etc) lors de vos visites sur notre Site, selon les
        matériels et les logiciels de visualisation ou de lecture que votre terminal comporte
        de mémoriser des informations relatives à des produits, services ou informations que vous avez choisis sur notre
        Site (contenu d’un panier de commande, etc.)</p>

    <p>Vous pouvez à tout moment configurer votre logiciel de navigation de manière à ce que des cookies soient
        enregistrés dans votre terminal ou, au contraire, qu’ils soient rejetés (soit systématiquement, soit selon leur
        émetteur). Vous pouvez également configurer votre logiciel de navigation de manière à ce que l’acceptation ou le
        refus des cookies vous soient proposés ponctuellement, avant qu’un cookie puisse être enregistré dans votre
        terminal.</p>

    <p>Attention : tout paramétrage est susceptible de modifier votre navigation sur Internet et vos conditions d’accès
        à certains services nécessitant l’utilisation de cookies.</p>

    <p>Pour la gestion des cookies et de vos choix, la configuration de chaque navigateur (Internet Explorer, Firefox,
        Safari, Google Chrome) est différente. Elle est décrite dans le menu d’aide de votre navigateur, qui vous
        permettra de savoir de quelle manière modifier vos souhaits en matière de cookies. Vous trouverez ci-dessous des
        informations concernant les principaux navigateurs.</p>
</section>