<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./../css/style-connexion.css" />
        <link rel="stylesheet" href="./../css/modifier_mdp.css" />
        <link rel="stylesheet" href="./../css/popup.css" />
        <title>Springfiled : mot de passe perdu</title>
    </head>
    <body>
        <section id="connexion">
            <h3>Mot de passe perdu</h3>
            <label>Email</label>
            <input class="input" type="text" name="email" id="email" />
            <figure>
                <button type="sumit" id="valider" class="button button_jaune">Valider</button>
                <button type="sumit" id="annuler" class="button button_gris">Annuler</button>
            </figure>

            <div id="modalOne" class="modal">
                <div class="modal-content">
                    <div class="contact-form">
                        <a class="close">&times;</a>
                        <form id="modal-form" action="/">
                            <div id="modal-msg">test</div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <script src="./../js/le_fetch.js"></script>
        <script src="./../js/popup.js"></script>
        <script src="./../js/mdp_perdu.js"></script>
    </body>
</html>